.New_user {
    margin: 0;
    font-size: 80%;
    padding-bottom: 2%;
}

.Sign_in {
    font-size: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0 2% 3% 2%;
    margin: 0 2%;
}

.Log_form {
    width: 50%;
    background-color: rgba(245, 240, 240, 0.699);
    border-radius: 15%;
    text-align: center;
}

input {
    font-size: 24px;
    border-radius: 50px;
    height: 50px;
    margin: 2% 0;
}

.error {
    display: block;
    color: red;
    font-size: 80%;
    margin: 0;
}

input[type="submit"] {
    width: 50%;
    height: initial;
    background: linear-gradient(to right, rgb(79, 255, 173), rgb(122, 236, 137));
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 50px;
    color: white;
    font-weight: 700;
    font-size: 110%;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
    background: #CDD1DA;
    background-image: url("img/pokeball.png");
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
    background: #FFF;
    background-image: url("img/pokeball.png");
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #9FD468;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

@media screen and (max-width: 1024px) {
    * {
        font-size: 18px;
    }

    .nav_el {
        font-size: 80%;
    }

    #username, #password {
        width: 90%;
    }  
    
    #submit {
        padding: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 16px;
    }

    .main_nav {
        width: 300px;
    }

    .nav_el {
        font-size: 60%;
    }

    #username, #password {
        font-size: 16px;
        height: 10%;
    }
    
    #remember_me {
        width: 60%;
    }
}

@media only screen and (max-width : 480px) {
    * {
        font-size: 12px;
    }

    .logo {
        width: 60%;
        height: auto;
    }

    .main_nav {
        width: 300px;
    }

    .nav_el {
        font-size: 40%;
    }
}