.search_box {
    height: 50px;
    width: 80%;
    padding: 5px;
    align-items: center;
}

.form_search {
    display: flex;
    justify-content: center;
}

input[type=search] {
    padding: 6px;
    font-size: 21px;
    border: none;
    width: 85%;
}

.search_box button{
    background-color: rgba(245, 240, 240, 0.699);
    width: 13%;
    height: 40px;
    font-size: 21px;
    border: none;
    cursor: pointer;
    font-weight: 700;
  }

main {
    display: flex;
}

.main_head {
    vertical-align: middle;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
}

.main_issues {
    width: 50%;
    margin: 1%;
    padding: 4%;
    background-color: rgba(245, 240, 240, 0.699);
    border-radius: 5%;
    margin-left: 40px;
}

.pokeball_icon {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.Upd {
    text-align: center;
    margin: 10px;
    padding: 15px 0 10px;
    text-transform: uppercase;
}

.Upd a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.table {
    display: table;
}

.t_row {
    display: table-row;
}

.t_cell {
    display: table-cell;
    padding: 0 20px;
}

.board {
    background-color: rgba(245, 240, 240, 0.699);
    border-radius: 10%;
    height: 310px;
    margin: 20px;
    padding: 10px 30px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

input[type=email] {
    font-size: 20px;
    width: 90%;

}

input[type=submit] {
    font-size: 20px;
    width: 40%;
}

input[type=reset] {
    font-size: 20px;
    width: 40%;
}

select {
    font-size: 20px;
    width: 90%;
}

textarea {
    font-size: 20px;
    width: 100%;
    font-family: "Roboto","Hiragino Kaku Gothic Pro","Meiryo", sans-serif;
}

.picture_aside {
    display: flex;
    justify-content: center;
}

aside {
    width: 40%;
}