{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_sup.css') }}">
{% endblock %}

{% block content %}
    <div class="form_search">
        <div class="search_box">
            <form>
                <input type="search" placeholder="Search...">
                <button type="submit">GO!</button>
            </form>
        </div>
    </div>
    <main>
        <div class="main_issues">
            <div class="main_head">
                <div>
                    <img src="static/img/pokeball.png" alt="Pokéball logo" class="pokeball_icon">
                </div>
                <div class="Upd"><a href="https://pokemongolive.com/en/post/">Most common issues</a></div>
            </div>
            <div class="table">
                <div class="t_row">
                    <div class="t_cell">
                        <p><b>Getting started</b></p>
                        <ul>
                            <li><a href="">Map View</a></li>
                            <li><a href="">How do I zoom and rotate?</a></li>
                            <li><a href="">How do I move my avatar?</a></li>
                            <li><a href="">Finding and Catching Pokémon</a></li>
                            <li><a href="">Gathering items</a></li>
                        </ul>
                    </div>
                    <div class="t_cell">
                        <p><b>Trainer Progress</b></p>
                        <ul>
                            <li><a href="">Level up and earn medals</a></li>
                            <li><a href="">Daily Bonuses</a></li>
                            <li><a href="">Field Research</a></li>
                            <li><a href="">Adventure Sync</a></li>
                            <li><a href="">How do I change my team?</a></li>
                        </ul>
                    </div>
                </div>

                <div class="t_row">
                    <div class="t_cell">
                        <p><b>Finding, Evolving, and Hatching</b></p>
                        <ul>
                            <li><a href="">Viewing a Pokémon’s summary</a></li>
                            <li><a href="">Viewing the Pokédex</a></li>
                            <li><a href="">How do I find specific Pokémon?</a></li>
                            <li><a href="">Weather Boosts</a></li>
                            <li><a href="">Using Stardust to Power Up</a></li>
                        </ul>
                    </div>
                    <div class="t_cell">
                        <p><b>PokéStops</b></p>
                        <ul>
                            <li><a href="">What makes a high-quality PokéStop?</a></li>
                            <li><a href="">Submitting a PokéStop Nomination</a></li>
                            <li><a href="">Reporting PokéStop or Gym Issues</a></li>
                            <li><a href="">How to get to in-game locations?</a></li>
                            <li><a href="">Lure Modules</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <aside>
            <div class="board">
                <p><b>Do you have a suggestion?</b></p>
                <form>
                    <p><label for="email">E-mail </label><input type="email" id="email" required></p>
                    <p>Category <select title="Select category" required>
                        <option value="Get_started">Getting started</option>
                        <option value="Trainer Progress">Trainer Progress</option>
                        <option value="Finding, Evolving, and Hatching">Finding, Evolving, and Hatching</option>
                        <option value="PokéStops">PokéStops</option>
                    </select></p>
                    <textarea rows="4" cols="42" required placeholder="Describe your issue here..."></textarea>
                    <div class="buttons">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </form>
            </div>
            <div class="picture_aside">
                <img src="static/img/bulbasaur_gif.gif" alt="cute_bulbasaur_gif" width="200">
            </div>
        </aside>
    </main>
{% endblock %}